body {
    background-image: url(./images/mariobrosfondo.jpeg);
    background-size: cover;
    font-family: 'Times New Roman', Times, serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

h1 {
    color: royalblue
}

section {
    width: 400px;
    height: 700px;
    border-radius: 5%;
    background-color: royalblue;
    display: flex;
    flex-direction: column;
    box-shadow: 9px 9px 2px 1px rgba(0, 0, 255, .2);
}

.contenedor1 {
    width: 400px;
    height: 350px;
    display: flex;
    justify-content: center;

}

.pantalla {
    width: 370px;
    height: 320px;
    margin-top: 20px;
    border-radius: 15px 15px 20px 20px;
    background-color: dimgrey;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    box-shadow: 6px 6px 2px 1px rgba(0, 0, 255, .2);
}

.video {
    margin-top: 20px;
}

#nombreconsola {
    font-size: 25px;
    color: lightgrey;
}




.joystickvert {
    position: relative;
    top: 70px;
    left: 100px;
    width: 30px;
    height: 90px;
    background-color: gray;
    border-radius: 10px;
    display: inline-block;
    box-shadow: 6px 6px 2px 1px rgba(0, 0, 255, .2);
}

.joystickhori {
    position: relative;
    top: 40px;
    left: 35px;
    width: 90px;
    height: 30px;
    background-color: gray;
    border-radius: 10px;
    display: inline-block;
    box-shadow: 6px 1px 3px 1px rgba(0, 0, 255, .2);
}



.botonB {
    position: relative;
    top: 0px;
    left: 220px;
    height: 40px;
    width: 40px;
    font-size: 20px;
    color: rgb(130, 144, 159);
    background-color: gray;
    text-align: center;
    border-radius: 50%;
    display: inline-block;
    box-shadow: 6px 6px 2px 1px rgba(0, 0, 255, .2);

}

.botonA {
    position: relative;
    top: -25px;
    left: 320px;
    height: 40px;
    width: 40px;
    font-size: 20px;
    color: rgb(130, 144, 159);
    background-color: gray;
    border-radius: 50%;
    text-align: center;
    display: inline-block;
    box-shadow: 6px 6px 2px 1px rgba(0, 0, 255, .2);
}


.opciones {
    display: flex;
    justify-content: center;
    margin-top: 100px;
}

.opcionselect {
    display: inline-block;
    height: 15px;
    width: 50px;
    background-color: gray;
    border-radius: 10px;
    box-shadow: 6px 6px 2px 1px rgba(0, 0, 255, .2);
}

.espacioentreopcion {
    display: inline-block;
    width: 20px;
    background-color: royalblue;
    order: 1;
}

.opcionstart {
    display: inline-block;
    height: 15px;
    width: 50px;
    background-color: gray;
    border-radius: 10px;
    order: 2;
    box-shadow: 6px 6px 2px 1px rgba(0, 0, 255, .2);
}